.form-container {
    max-width: 400px;
    margin: auto;
    background-image: url('https://ecoledeslumieres.ch/wp-content/uploads/2022/02/photo-ecole7.jpg');
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .form-container h2 {
    text-align: center;
  }
  
  .form-container form {
    margin-top: 20px;
  }
  
  .form-container label {
    color: #fff;
  }
  
  .form-container input[type='text'],
  .form-container input[type='email'] {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #000;
  }
  
  .form-container button[type='submit'] {
    margin-top: 20px;
  }
  
 