.nav {
    background-color: #343a40; /* Couleur de fond */
  }
  
  .nav a {
    color: white; /* Couleur du texte */
  }
  
  .nav .navbar-brand span {
    color: #61dafb; /* Couleur du texte du span */
  }
  
  .drop{
    color: black;
  }
  .navbar {
    background-color: #343a40; /* Couleur de fond */
  }
  
  .navbar a,
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: white; /* Couleur du texte */
  }
     


  .navbar {
    background-color: #343a40;
  }
  
  .navbar a,
  .navbar .navbar-brand,
  .navbar .nav-link,
  .dropdown-item {
    color: white;
  }
  
  .dropdown-menu {
    background-color: #343a40;
  }
  